@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --color-light-orange: #e38826;
    --color-dark-cyan: #006970;
    --color-very-dark-cyan: #004241;
    --color-light-grayish: #f2f2f2;
    --color-white: #ffffff;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    background-color: var(--color-light-grayish);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Big Shoulders Display', cursive; 
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: var(--color-light-grayish); 
    margin-block-start: 1.5625rem;
    margin-block-end: 1.5625rem;
}

.card-container {
    display: flex;
    width: 57.5rem;
    margin: 1.25rem auto;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    padding: 3rem;
    flex: 1;
}

.card p {
    color:rgba(255, 255, 255, 0.75);
    line-height: 1.7;
    margin-bottom: 5rem;
}

.card img {
    max-width: 100%;
}


.card-sedans {
    background-color:var(--color-light-orange); /* Laranja */
}

.card-suvs {
    background-color: var(--color-dark-cyan); /* Verde-azulado escuro */
}

.card-luxury {
    background-color: var(--color-very-dark-cyan); /* Verde bem escuro */
}

/* Estilos para botões */

.btn {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    background-color: var(--color-light-grayish);
    padding: 0.875rem 2.1875rem;
    border-radius: 1.5625rem;
    border: 2px solid var(--color-light-grayish);
}

/* Cores dos botões conforme a seção */

.card-sedans .btn {
    color: var(--color-light-orange); /* Laranja */
}

.card-suvs .btn {
    color: var(--color-dark-cyan); /* Verde-azulado escuro */
}

.card-luxury .btn {
    color: var(--color-very-dark-cyan); /* Verde bem escuro */
}

.btn:hover {
    background-color: transparent;
    color: var(--color-light-grayish);
    cursor: pointer;
}

@media (max-width: 56.25em) {
    .card-container {
        flex-direction: column;
        width: 90%;
    }

    .card {
        text-align: center;
        padding: 2rem;
    }

    .card:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}