@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Big+Shoulders+Display:wght@700&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Big Shoulders Display', cursive; 
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: #f2f2f2; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-container {
    display: flex;
    width: 57.5rem;
    margin: 1.25rem auto;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    padding: 3rem;
    flex: 1;
}

.card p {
    color:rgba(255, 255, 255, 0.75);
    line-height: 1.7;
    margin-bottom: 80px;
}

.card img {
    max-width: 100%;
}


.card-sedans {
    background-color: #e38826; /* Laranja */
}

.card-suvs {
    background-color: #006970; /* Verde-azulado escuro */
}

.card-luxury {
    background-color: #004241; /* Verde bem escuro */
}

/* Estilos para botões */

.btn {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    background-color: #f2f2f2;
    padding: 14px 35px;
    border-radius: 25px;
    border: 2px solid #f2f2f2;
}

/* Cores dos botões conforme a seção */

.card-sedans .btn {
    color: #e38826; /* Laranja */
}

.card-suvs .btn {
    color: #006970; /* Verde-azulado escuro */
}

.card-luxury .btn {
    color: #004241; /* Verde bem escuro */
}

.btn:hover {
    background-color: transparent;
    color: #f2f2f2;
    cursor: pointer;
}

@media (max-width: 900px) {
    .card-container {
        flex-direction: column;
        width: 90%;
    }

    .card {
        text-align: center;
        padding: 2rem;
    }

    .card:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}